section.about-us
  .container
    h2 Про наш заклад
    .about-us__content.content
      .about-us__col
        p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.
        p Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
      .about-us__col
        p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.
        p Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
    .about-us__advantages.advantages
      article.advantages__item
        img.advantages__img(src="./static/images/advantages-item-1.png", alt="Advantages")
        h4.advantages__title Назва переваги 1
        p.advantages__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку
      article.advantages__item
        img.advantages__img(src="./static/images/advantages-item-2.png", alt="Advantages")
        h4.advantages__title Назва переваги 2
        p.advantages__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку
      article.advantages__item
        img.advantages__img(src="./static/images/advantages-item-1.png", alt="Advantages")
        h4.advantages__title Назва переваги 3
        p.advantages__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку
      article.advantages__item
        img.advantages__img(src="./static/images/advantages-item-2.png", alt="Advantages")
        h4.advantages__title Назва переваги 4
        p.advantages__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку