if pageClass == 'about-page'
  - var sectionClass = 'last-news white-bg'
else
  - var sectionClass = 'last-news section__bg_snow'
section(class=sectionClass)
  .container
    h2 Останні новини
    .last-news__row
      article.top-deal.news.last-news__item
        a.top-deal__link-wr(href="/")
          .top-deal__img-wr
            img(src="./static/images/news-item-1.png", alt="Alt")
          .top-deal__content
            .top-deal__heading
              span Категорія
              time 12.09.19
            h4.top-deal__title Текст текст текст текст
            p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
            span.top-deal__more-link Дізнатися більше →
      article.top-deal.news.last-news__item
        a.top-deal__link-wr(href="/")
          .top-deal__img-wr
            img(src="./static/images/news-item-2.png", alt="Alt")
          .top-deal__content
            .top-deal__heading
              span Категорія
              time 12.09.19
            h4.top-deal__title Текст текст текст текст
            p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
            span.top-deal__more-link Дізнатися більше →
      article.top-deal.news.last-news__item
        a.top-deal__link-wr(href="/")
          .top-deal__img-wr
            img(src="./static/images/news-item-1.png", alt="Alt")
          .top-deal__content
            .top-deal__heading
              span Категорія
              time 12.09.19
            h4.top-deal__title Текст текст текст текст
            p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
            span.top-deal__more-link Дізнатися більше →
      article.top-deal.news.last-news__item
        a.top-deal__link-wr(href="/")
          .top-deal__img-wr
            img(src="./static/images/news-item-2.png", alt="Alt")
          .top-deal__content
            .top-deal__heading
              span Категорія
              time 12.09.19
            h4.top-deal__title Текст текст текст текст
            p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
            span.top-deal__more-link Дізнатися більше →
    .last-news__button
      a.btn.btn__color_blue(href="/") Перейти до усіх новин