section.gallery
  .container
    .gallery__wr#gallery
      a.gallery__link(href="./static/images/gallery/1.png")
        img(src="./static/images/gallery/1.png", alt="ALT")
        .darken-bg
        span
      a.gallery__link(href="./static/images/gallery/2.png")
        img(src="./static/images/gallery/2.png", alt="ALT")
        .darken-bg
        span
      a.gallery__link(href="./static/images/gallery/3.png")
        img(src="./static/images/gallery/3.png", alt="ALT")
        .darken-bg
        span
      a.gallery__link(href="./static/images/gallery/4.png")
        img(src="./static/images/gallery/4.png", alt="ALT")
        .darken-bg
        span
      a.gallery__link(href="./static/images/gallery/5.png")
        img(src="./static/images/gallery/5.png", alt="ALT")
        .darken-bg
        span
      a.gallery__link(href="./static/images/gallery/6.png")
        img(src="./static/images/gallery/6.png", alt="ALT")
        .darken-bg
        span
      a.gallery__link(href="./static/images/gallery/7.png")
        img(src="./static/images/gallery/7.png", alt="ALT")
        .darken-bg
        span
      a.gallery__link(href="./static/images/gallery/8.png")
        img(src="./static/images/gallery/8.png", alt="ALT")
        .darken-bg
        span
      a.gallery__link(href="./static/images/gallery/9.png")
        img(src="./static/images/gallery/9.png", alt="ALT")
        .darken-bg
        span
      a.gallery__link(href="./static/images/gallery/10.png")
        img(src="./static/images/gallery/10.png", alt="ALT")
        .darken-bg
        span