section.content-tabs
  .container
    ul.content-tabs__list
      li.content-tabs__item
        a.content-tabs__link(href='/about.html') 
          h3 Про навчальний заклад
      li.content-tabs__item
        a.content-tabs__link(href='/about-history.html')
          h3 Історія, наші досягнення
      li.content-tabs__item
        a.content-tabs__link(href='/about-rulers.html') 
          h3 Правила вступу
      li.content-tabs__item
        a.content-tabs__link(href='/about-partners.html')
          h3 Наші партнери
      li.content-tabs__item
        a.content-tabs__link.active(href='/about-career.html')
          h3 Кар’єра
      li.content-tabs__item
        a.content-tabs__link(href='/about-cooperation.html')
          h3 Співробітництво
  .container
    .content-tabs__content
      section.career
        article.career__item
          .career__img-wr
            img(src="./static/images/career-item-1.png", alt="Vakasiya")
          .career__content
            h4.career__name Названа вакансіі
            p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. 
        article.career__item
          .career__img-wr
            img(src="./static/images/career-item-2.png", alt="Vakasiya")
          .career__content
            h4.career__name Названа вакансіі
            p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. 
        article.career__item
          .career__img-wr
            img(src="./static/images/career-item-1.png", alt="Vakasiya")
          .career__content
            h4.career__name Названа вакансіі
            p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. 
        article.career__item
          .career__img-wr
            img(src="./static/images/career-item-2.png", alt="Vakasiya")
          .career__content
            h4.career__name Названа вакансіі
            p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. 
        article.career__item
          .career__img-wr
            img(src="./static/images/career-item-1.png", alt="Vakasiya")
          .career__content
            h4.career__name Названа вакансіі
            p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. 
        article.career__item
          .career__img-wr
            img(src="./static/images/career-item-2.png", alt="Vakasiya")
          .career__content
            h4.career__name Названа вакансіі
            p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. 
include ../modules/last-news/last-news