section.content-tabs
  .container
    ul.content-tabs__list
      li.content-tabs__item
        a.content-tabs__link(href='/about.html') 
          h3 Про навчальний заклад
      li.content-tabs__item
        a.content-tabs__link(href='/about-history.html')
          h3 Історія, наші досягнення
      li.content-tabs__item
        a.content-tabs__link(href='/about-rulers.html') 
          h3 Правила вступу
      li.content-tabs__item
        a.content-tabs__link.active(href='/about-partners.html')
          h3 Наші партнери
      li.content-tabs__item
        a.content-tabs__link(href='/about-career.html')
          h3 Кар’єра
      li.content-tabs__item
        a.content-tabs__link(href='/about-cooperation.html')
          h3 Співробітництво
  .container
    .content-tabs__content
      section.partners
        article.partner.partners__item
          a.partner__link(href='/')
          .partner__img-wr
            img(src="./static/images/partner.png", alt="Партнер")
          h4.partner__name Василий Петрович
          span.partner__speciality професія
        article.partner.partners__item
          a.partner__link(href='/')
          .partner__img-wr
            img(src="./static/images/partner.png", alt="Партнер")
          h4.partner__name Василий Петрович
          span.partner__speciality професія
        article.partner.partners__item
          a.partner__link(href='/')
          .partner__img-wr
            img(src="./static/images/partner.png", alt="Партнер")
          h4.partner__name Василий Петрович
          span.partner__speciality професія
        article.partner.partners__item
          a.partner__link(href='/')
          .partner__img-wr
            img(src="./static/images/partner.png", alt="Партнер")
          h4.partner__name Василий Петрович
          span.partner__speciality професія
        article.partner.partners__item
          a.partner__link(href='/')
          .partner__img-wr
            img(src="./static/images/partner.png", alt="Партнер")
          h4.partner__name Василий Петрович
          span.partner__speciality професія
        article.partner.partners__item
          a.partner__link(href='/')
          .partner__img-wr
            img(src="./static/images/partner.png", alt="Партнер")
          h4.partner__name Василий Петрович
          span.partner__speciality професія
        article.partner.partners__item
          a.partner__link(href='/')
          .partner__img-wr
            img(src="./static/images/partner.png", alt="Партнер")
          h4.partner__name Василий Петрович
          span.partner__speciality професія
        article.partner.partners__item
          a.partner__link(href='/')
          .partner__img-wr
            img(src="./static/images/partner.png", alt="Партнер")
          h4.partner__name Василий Петрович
          span.partner__speciality професія
        article.partner.partners__item
          a.partner__link(href='/')
          .partner__img-wr
            img(src="./static/images/partner.png", alt="Партнер")
          h4.partner__name Василий Петрович
          span.partner__speciality професія
        article.partner.partners__item
          a.partner__link(href='/')
          .partner__img-wr
            img(src="./static/images/partner.png", alt="Партнер")
          h4.partner__name Василий Петрович
          span.partner__speciality професія
        article.partner.partners__item
          a.partner__link(href='/')
          .partner__img-wr
            img(src="./static/images/partner.png", alt="Партнер")
          h4.partner__name Василий Петрович
          span.partner__speciality професія
        article.partner.partners__item
          a.partner__link(href='/')
          .partner__img-wr
            img(src="./static/images/partner.png", alt="Партнер")
          h4.partner__name Василий Петрович
          span.partner__speciality професія
include ../modules/last-news/last-news