//- include ../modules/home-slider/home-slider
section.faq
  .container
    .faq__row
      .faq__col
        article.faq__item
          .faq__item-header
            h4.faq__item-title Назва питання назва питання
            .faq__item-plus
          .faq__item-content
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть.
        article.faq__item
          .faq__item-header
            h4.faq__item-title Назва питання назва питання
            .faq__item-plus
          .faq__item-content
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть.
        article.faq__item
          .faq__item-header
            h4.faq__item-title Назва питання назва питання
            .faq__item-plus
          .faq__item-content
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть.
        article.faq__item
          .faq__item-header
            h4.faq__item-title Назва питання назва питання
            .faq__item-plus
          .faq__item-content
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть.
      .faq__col
        article.faq__item
          .faq__item-header
            h4.faq__item-title Назва питання назва питання
            .faq__item-plus
          .faq__item-content
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть.
        article.faq__item
          .faq__item-header
            h4.faq__item-title Назва питання назва питання
            .faq__item-plus
          .faq__item-content
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть.
        article.faq__item
          .faq__item-header
            h4.faq__item-title Назва питання назва питання
            .faq__item-plus
          .faq__item-content
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть.
        article.faq__item
          .faq__item-header
            h4.faq__item-title Назва питання назва питання
            .faq__item-plus
          .faq__item-content
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть.
        article.faq__item
          .faq__item-header
            h4.faq__item-title Назва питання назва питання
            .faq__item-plus
          .faq__item-content
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть.
        article.faq__item
          .faq__item-header
            h4.faq__item-title Назва питання назва питання
            .faq__item-plus
          .faq__item-content
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть.

include ../modules/last-news/last-news