//- include ../modules/home-slider/home-slider
section.content-tabs
  .container
    ul.content-tabs__list
      li.content-tabs__item
        a.content-tabs__link(href='/activity.html') 
          h3 Дяльність
      li.content-tabs__item
        a.content-tabs__link.active(href='/profession.html')
          h3 Професії
      li.content-tabs__item
        a.content-tabs__link(href='/teaching.html') 
          h3 Навчання посадових осіб та спеціалістів за правилами охорони праці
  .container
    .content-tabs__content
      section.proffesion
        h3.profession__title Підготовка, перепідготовка, підвищення кваліфікації за наступними професіями

        .proffesion__row
          article.proffesion-item
            a.proffesion-item__link(href="/current-proffesion.html")
              .proffesion-item__img-wr
                img(src="./static/images/proffesion/item-1.png", alt="ALT")
              .proffesion-item__content
                h4.proffesion-item__title Апаратник стерилізації консервів (виробництво фруктових та овочевих консервів)
                p.proffesion-item__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є. 
          article.proffestion-item
            a.proffesion-item__link(href="/current-proffesion.html")
              .proffesion-item__img-wr
                img(src="./static/images/proffesion/item-2.png", alt="ALT")
              .proffesion-item__content
                h4.proffesion-item__title Апаратник хімводоочищення
                p.proffesion-item__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
          article.proffestion-item
            a.proffesion-item__link(href="/current-proffesion.html")
              .proffesion-item__img-wr
                img(src="./static/images/proffesion/item-3.png", alt="ALT")
              .proffesion-item__content
                h4.proffesion-item__title Водій навантажувача
                p.proffesion-item__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
          article.proffestion-item
            a.proffesion-item__link(href="/current-proffesion.html")
              .proffesion-item__img-wr
                img(src="./static/images/proffesion/item-4.png", alt="ALT")
              .proffesion-item__content
                h4.proffesion-item__title Електромонтер з ремонту та обслуговуванню електроустаткування
                p.proffesion-item__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною.
          article.proffestion-item
            a.proffesion-item__link(href="/current-proffesion.html")
              .proffesion-item__img-wr
                img(src="./static/images/proffesion/item-5.png", alt="ALT")
              .proffesion-item__content
                h4.proffesion-item__title Кочегар технологічних печей
                p.proffesion-item__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
          article.proffestion-item
            a.proffesion-item__link(href="/current-proffesion.html")
              .proffesion-item__img-wr
                img(src="./static/images/proffesion/item-6.png", alt="ALT")
              .proffesion-item__content
                h4.proffesion-item__title Ліфтер
                p.proffesion-item__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
          article.proffestion-item
            a.proffesion-item__link(href="/current-proffesion.html")
              .proffesion-item__img-wr
                img(src="./static/images/proffesion/item-7.png", alt="ALT")
              .proffesion-item__content
                h4.proffesion-item__title Машиніст холодильних установок
                p.proffesion-item__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є. 
          article.proffestion-item
            a.proffesion-item__link(href="/current-proffesion.html")
              .proffesion-item__img-wr
                img(src="./static/images/proffesion/item-8.png", alt="ALT")
              .proffesion-item__content
                h4.proffesion-item__title Налагоджувальник контрольно-вимірювальних пристроїв та автоматики
                p.proffesion-item__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum.
          article.proffestion-item
            a.proffesion-item__link(href="/current-proffesion.html")
              .proffesion-item__img-wr
                img(src="./static/images/proffesion/item-9.png", alt="ALT")
              .proffesion-item__content
                h4.proffesion-item__title Оператор котельні
                p.proffesion-item__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. 
          article.proffestion-item
            a.proffesion-item__link(href="/current-proffesion.html")
              .proffesion-item__img-wr
                img(src="./static/images/proffesion/item-10.png", alt="ALT")
              .proffesion-item__content
                h4.proffesion-item__title Оператор лінії у виробництві харчової продукції (молочне виробництво)
                p.proffesion-item__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною.
          article.proffestion-item
            a.proffesion-item__link(href="/current-proffesion.html")
              .proffesion-item__img-wr
                img(src="./static/images/proffesion/item-11.png", alt="ALT")
              .proffesion-item__content
                h4.proffesion-item__title Оператор лінії у виробництві харчової продукції (виробництво напоїв)
                p.proffesion-item__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною.
          article.proffestion-item
            a.proffesion-item__link(href="/current-proffesion.html")
              .proffesion-item__img-wr
                img(src="./static/images/proffesion/item-12.png", alt="ALT")
              .proffesion-item__content
                h4.proffesion-item__title Тракторист-машиніст сільськогосподарського виробництва (за категоріями А1; А2; B1; B2; B3; Д1; C; Е1-Е2; G1-G2)
                p.proffesion-item__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар.
include ../modules/last-news/last-news