//- include ../modules/home-slider/home-slider
section.content-tabs
  .container
    ul.content-tabs__list
      li.content-tabs__item
        a.content-tabs__link.active(href='/publications.html') 
          h3 Статті
      li.content-tabs__item
        a.content-tabs__link(href='/publications-news.html')
          h3 Новини
      li.content-tabs__item
        a.content-tabs__link(href='/publications-legislation.html') 
          h3 Законодавство
      li.content-tabs__item
        a.content-tabs__link(href='/publications-about-teaching.html') 
          h3 Про навчання 
      li.content-tabs__item
        a.content-tabs__link(href='/publications-gallery.html') 
          h3 Галерея
  .container
    .content-tabs__content
      section.publications
        .publications__items
          article.top-deal.news.publications__item
            a.top-deal__link-wr(href="/")
              .top-deal__img-wr
                img(src="./static/images/news-item-1.png", alt="Alt")
              .top-deal__content
                .top-deal__heading
                  span Категорія
                  time 12.09.19
                h4.top-deal__title Текст текст текст текст
                p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
                span.top-deal__more-link Дізнатися більше →
          article.top-deal.news.publications__item
            a.top-deal__link-wr(href="/")
              .top-deal__img-wr
                img(src="./static/images/news-item-2.png", alt="Alt")
              .top-deal__content
                .top-deal__heading
                  span Категорія
                  time 12.09.19
                h4.top-deal__title Текст текст текст текст
                p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
                span.top-deal__more-link Дізнатися більше →
          article.top-deal.news.publications__item
            a.top-deal__link-wr(href="/")
              .top-deal__img-wr
                img(src="./static/images/news-item-1.png", alt="Alt")
              .top-deal__content
                .top-deal__heading
                  span Категорія
                  time 12.09.19
                h4.top-deal__title Текст текст текст текст
                p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
                span.top-deal__more-link Дізнатися більше →
          article.top-deal.news.publications__item
            a.top-deal__link-wr(href="/")
              .top-deal__img-wr
                img(src="./static/images/news-item-2.png", alt="Alt")
              .top-deal__content
                .top-deal__heading
                  span Категорія
                  time 12.09.19
                h4.top-deal__title Текст текст текст текст
                p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
                span.top-deal__more-link Дізнатися більше →
          article.top-deal.news.publications__item
            a.top-deal__link-wr(href="/")
              .top-deal__img-wr
                img(src="./static/images/news-item-1.png", alt="Alt")
              .top-deal__content
                .top-deal__heading
                  span Категорія
                  time 12.09.19
                h4.top-deal__title Текст текст текст текст
                p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
                span.top-deal__more-link Дізнатися більше →
          article.top-deal.news.publications__item
            a.top-deal__link-wr(href="/")
              .top-deal__img-wr
                img(src="./static/images/news-item-2.png", alt="Alt")
              .top-deal__content
                .top-deal__heading
                  span Категорія
                  time 12.09.19
                h4.top-deal__title Текст текст текст текст
                p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
                span.top-deal__more-link Дізнатися більше →
          article.top-deal.news.publications__item
            a.top-deal__link-wr(href="/")
              .top-deal__img-wr
                img(src="./static/images/news-item-1.png", alt="Alt")
              .top-deal__content
                .top-deal__heading
                  span Категорія
                  time 12.09.19
                h4.top-deal__title Текст текст текст текст
                p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
                span.top-deal__more-link Дізнатися більше →
          article.top-deal.news.publications__item
            a.top-deal__link-wr(href="/")
              .top-deal__img-wr
                img(src="./static/images/news-item-2.png", alt="Alt")
              .top-deal__content
                .top-deal__heading
                  span Категорія
                  time 12.09.19
                h4.top-deal__title Текст текст текст текст
                p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
                span.top-deal__more-link Дізнатися більше →
          article.top-deal.news.publications__item
            a.top-deal__link-wr(href="/")
              .top-deal__img-wr
                img(src="./static/images/news-item-1.png", alt="Alt")
              .top-deal__content
                .top-deal__heading
                  span Категорія
                  time 12.09.19
                h4.top-deal__title Текст текст текст текст
                p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
                span.top-deal__more-link Дізнатися більше →
          article.top-deal.news.publications__item
            a.top-deal__link-wr(href="/")
              .top-deal__img-wr
                img(src="./static/images/news-item-2.png", alt="Alt")
              .top-deal__content
                .top-deal__heading
                  span Категорія
                  time 12.09.19
                h4.top-deal__title Текст текст текст текст
                p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
                span.top-deal__more-link Дізнатися більше →
          article.top-deal.news.publications__item
            a.top-deal__link-wr(href="/")
              .top-deal__img-wr
                img(src="./static/images/news-item-1.png", alt="Alt")
              .top-deal__content
                .top-deal__heading
                  span Категорія
                  time 12.09.19
                h4.top-deal__title Текст текст текст текст
                p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
                span.top-deal__more-link Дізнатися більше →
          article.top-deal.news.publications__item
            a.top-deal__link-wr(href="/")
              .top-deal__img-wr
                img(src="./static/images/news-item-2.png", alt="Alt")
              .top-deal__content
                .top-deal__heading
                  span Категорія
                  time 12.09.19
                h4.top-deal__title Текст текст текст текст
                p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
                span.top-deal__more-link Дізнатися більше →
        .pagination.publications__pagination
          a.pagination__item.active(href="/") 1
          a.pagination__item(href="/") 2
          a.pagination__item(href="/") 3
          a.pagination__item(href="/") 4
          a.pagination__item(href="/") 5
          a.pagination__item(href="/") 6