.home-slider
  .container
    .swiper-container.home-slider-container.home-slider__slider
      .swiper-wrapper
        .swiper-slide.home-slider__slide(style="background-image: url('./static/images/home-slider.png')")
          .home-slider__content
            h3 Ярмарок професій для школярів організував Білгород-Дністровський міськрайонний центр зайнятості
            .home-slider__button
              a.btn.btn__color_blue(href="/") Дізнатися більше
        .swiper-slide.home-slider__slide(style="background-image: url('./static/images/home-slider.png')")
          .home-slider__content
            h3 Ярмарок професій для школярів організував Білгород-Дністровський міськрайонний центр зайнятості2
            .home-slider__button
              a.btn.btn__color_blue(href="/") Дізнатися більше
        .swiper-slide.home-slider__slide(style="background-image: url('./static/images/home-slider.png')")
          .home-slider__content
            h3 Ярмарок професій для школярів організував Білгород-Дністровський міськрайонний центр зайнятості3
            .home-slider__button
              a.btn.btn__color_blue(href="/") Дізнатися більше