.header {
  &__contacts {
    display: none;
  }

  &__logo {
    position: relative;

    img {
      height: 70px;
    }
  }

  &__title-row {
    margin-top: 15px;
  }
}

.mobile-nav {
  &__buttons {
    flex-wrap: wrap;
    padding: 10px 0;

    & > div {
      flex-basis: 100%;
      margin: 5px 15px;
    }
  }

  a {
    font-size: 20px;
    padding: 7px 0;
  }
}