section.top-deals.section__bg_snow
  .container
    h2 Топ пропозиції
    .top-deals__row
      article.top-deals__item.top-deal
        a.top-deal__link-wr(href="/")
          .top-deal__img-wr
            img(src="./static/images/top-deal-item-1.png", alt="Alt")
          .top-deal__content
            h4.top-deal__title Названа професії
            p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
            span.top-deal__more-link Дізнатися більше →
      article.top-deals__item.top-deal
        a.top-deal__link-wr(href="/")
          .top-deal__img-wr
            img(src="./static/images/top-deal-item-2.png", alt="Alt")
          .top-deal__content
            h4.top-deal__title Названа професії
            p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
            span.top-deal__more-link Дізнатися більше →
      article.top-deals__item.top-deal
        a.top-deal__link-wr(href="/")
          .top-deal__img-wr
            img(src="./static/images/top-deal-item-1.png", alt="Alt")
          .top-deal__content
            h4.top-deal__title Названа професії
            p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
            span.top-deal__more-link Дізнатися більше →
      article.top-deals__item.top-deal
        a.top-deal__link-wr(href="/")
          .top-deal__img-wr
            img(src="./static/images/top-deal-item-2.png", alt="Alt")
          .top-deal__content
            h4.top-deal__title Названа професії
            p.top-deal__desc Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя. коли невідомий друкар взяв шрифтову гранку.
            span.top-deal__more-link Дізнатися більше →
    .top-deals__all-deals-btn
      a.btn.btn__color_blue(href="/") Перейти до усіх вакансій