.publications-gallery {
  .gallery-top {
    height: 400px;
  }

  .gallery-thumbs {
    height: 80px;
  }
}

.publications-gallery__arrow-left, .publications-gallery__arrow-right {
  bottom: 105px;
}