.last-news {
  &__row {
    display: flex;
    margin: 0 15px;
  }

  &__item {
    margin: 0 15px;
  }

  &__button {
    @include push--auto;
    margin-top: 60px;
    width: 280px;
  }

  &.white-bg {
    .top-deal {
      background: $snow;
    }
  }
}