section.request
  .container
    h2.mb0 Залишити заявку на запис
    p.section__desc Залиште заявку і ми зв’яжемося з Вами найближчим часом
    form.request__form(action="/")
      .request__form-col
        .input__wr
          input#requestName(type="text", placeholder="Ваше ім’я")
        .input__wr
          input#requestPhone(type="text", placeholder="Ваш номер телефону", inputmode="tel")
        .input__wr
          input#requestMail(type="text", placeholder="Ваша пошта", inputmode="email")
      .request__form-col
        .textarea__wr.request__textarea-wr
          textarea#requestText(placeholder="Ваш коментар")
        .request__submit-btn
          button.btn.btn__color_blue(type="submit") Залишити заявку